#kb-welcome{
        background-image: linear-gradient(to right, #2F80ED, #56CCF2);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
    }
    #kb-welcome h2 {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 36px !important;
    }
    #kb-welcome h3 {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 20px !important;
    }
    .src-main-container {
        max-width: 700px;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;
        float: unset;
    }
    .form-control-borderless {
        border: none;
    }

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
    .art-kn-list li {
        list-style: outside none none;
        padding: 10px 2px;
        border-bottom: 1px dashed rgba(18,17,17,.11);
    }
    a {
        text-decoration: none !important;
    }
    .wrap {
        display: flex;
        background: white;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
        margin-bottom: 2rem;
        transition: all .3s ease;
    }

    .wrap:hover {
        -webkit-transform: scale(1.06);
        transform: scale(1.06);
        box-shadow: 0 10px 20px 0 rgba(9,9,16,.15);
        transition: all .3s ease;
    }

    .ico-wrap {
        margin: auto;
        margin-left: 15px;
        margin-right: 25px;
    }

    .mbr-iconfont {
        font-size: 3rem !important;
        color: #545b62;
    }
    .vcenter {
        margin: auto;
        margin-left: 0 !important;
    }

    .mbr-section-title3 {
        text-align: left;
    }
    h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .mbr-bold {
        font-weight: 700;
    }

     p {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 25px;
    }
    .theme-btn{
        background-image: linear-gradient(to right, #2F80ED, #56CCF2) !important;
    }